<div class="container">
    <div class="row pt-2">
        <div class="offset-md-3 col-md-6">
            <div class="card" ng-init="getAllContacts()">
                <div class="text-center">
                    <h1>Contact List</h1>
                </div>
                <div class="row justify-content-">
                    <div ng-if="!addNewContactForm" class="pb-3 offset-md-9 col-md-3">
                        <button class="btn btn-info rounded w-30"  ng-click="toggleAddNewContactForm()">New Contact  <i class="fas fa-user-plus"></i></button>  
                    </div>
                    <div ng-if="addNewContactForm" class="offset-md-9 col-md-3">
                        <button class="btn btn-info rounded w-30"  ng-click="toggleAddNewContactForm()">Close <i class="fas fa-times-circle"></i></button>  
                    </div>
                   
                    <div class="offset-md-2 col-md-8" ng-show="addNewContactForm">
                      <div class="card-body" ng-controller="ContactsController">
                        <form name="addContactForm" ng-submit="addNewContact()" novalidate>
                            
                            <div class="mt-2">
                                <input ng-required="true" type="text" name="name" placeholder="Enter Name" class="form-control" autocomplete="off" ng-model="newcontact.name">
                            </div>
                            <div ng-show="addContactForm.name.$touched && addContactForm.name.$invalid" class="float-end mb-2 mt-0 form-text invalid-info"><small>Please enter name</small></div>
                            <div class="input-group mt-2">
                                <span class="input-group-text" id="basic-addon1">+387</span>
                                <input ng-required="true" ng-minlength="8" ng-maxlength="9" ng-pattern="/^\d+$/" type="text" name="phone" placeholder="Phone Number" class="form-control" ng-model="newcontact.phone">  
                            </div>
                            <div ng-show="addContactForm.phone.$touched && (addContactForm.phone.$invalid || addContactForm.phone.$error.pattern)" class="float-end mb-2 mt-0 form-text invalid-info"><small>Please enter valid phone number</small></div>
                            <div class="my-2">
                                <input type="text" placeholder="Address" class="form-control" ng-model="newcontact.address">
                            </div>
                            <input type="submit" ng-disabled="!addContactForm.$valid || addContactForm.phone.$error.pattern || addContactForm.$untouched" class="mt-2 btn w-100 btn-info" value="Add New Contact"></input>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="container contactsList">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="contact in contacts.slice().reverse()">
                            <td>{{contacts.indexOf(contact) + 1}}</td>
                            <td><a href="#!/contact/{{contact.id}}">{{contact.name | uppercase}}</a></td>
                            <td>+387{{contact.phone}}</td>
                            <td class="justify-content-evenly">
                                <a href="#!/edit/{{contact.id}}"><i style="color:#0dcaf0" class="fas fa-user-edit"></i></a>
                                <a href="#" ng-click="deleteContact(contact.id)"><i  style="color:tomato" class="fas fa-times-circle"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
    </div>
</div>